<div class="card <%= 'blur' if blur %> <%= 'selected' if select %>" data-candidate=<%= candidate.id %>>
  <div class="card-image">
    <%= image_tag candidate.image_url %>

    <% unless expired %>
      <a class="btn-floating halfway-fab waves-effect waves-light green" data-vote-button>
        <i class="material-icons">add</i>
      </a>
    <% end %>
  </div>

  <div class="card-content">
    <span class="card-title"><%= candidate.name %></span>
    <p><%= candidate.description %></p>
  </div>
</div>
