<%= content_tag :section do %>
  <% if @poll.categories.load.size > 0 %>
    <div class="poll-header center-align">
      <h1><%= @poll.name %> nominees</h1>
      <div class="header-divider"></div>
    </div>

    <% @poll.categories.order(:created_at).each do |category| %>
      <section data-category="<%= category.id %>" data-update-url="<%= is_admin?(current_user, @poll) ? admin_results_path : votes_path %>">
        <h5><%= category.name %></h5>
        <% presenter_class = current_user.admin?(category) ? AdminPresenter : VotesPresenter %>
        <% presenter = presenter_class.new(current_user, category) %>

        <div class="row">
          <% category.candidates.each do |candidate| %>
            <div class="col s12 m6 l3">
              <% selected = presenter.voted_in_candidate?(candidate.id) %>
              <%=
                render 'nominee',
                  candidate: candidate,
                  blur: presenter.voted? && !selected,
                  select: selected,
                  expired: !current_user.admin?(category) && @poll.expired?
              %>
            </div>
          <% end %>
        </div>
      </section>
    <% end %>
  <% end %>
<% end %>
