<header id="header" class="page-topbar cd-auto-hide-header">
  <div class="navbar-fixed">
    <nav class="navbar-color">
      <div class="nav-wrapper">
        <%= link_to root_path do %>
          <div class="left" id="logo">
          </div>
          <ul class="left">
            <li class="main-logo">
              <h3 class="logo-wrapper">
                Cast your vote
              </h3>
            </li>
          </ul>
        <% end %>

        <section class="right">
          <% if user_signed_in? %>
            <div class="logout-button">
              <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
            </div>
            <div class="ranking-link">
              Ranking |
            </div>
            <div class="user-name">
              Hello, <%= current_user.name %> |
            </div>
          <% else %>
            <%= link_to('Sign up', new_user_registration_path, class: 'da-link') %>

            <%= link_to('or login', new_user_session_path)  %>
          <% end %>
        </section>
      </div>
    </nav>
  </div>
</header>
